table{
    border-collapse: collapse;
    table-layout: fixed;
}
table, th, td {
    border:1px solid #E6E6FA;
    padding: 5px;
}
tbody {
    height:500px;
    overflow-y:auto;
    display:block;
    width:100%;
}
tbody tr, thead tr {
    display: block;
 }
tbody td, th {
    min-width: 200px;
    width: 200px;
    word-break: break-all;
    text-align: left;
}
tfoot td {
    padding: 10px;
    select {
        padding: 5px;
        width: 100px;
        border-radius: 5px;
        margin-right: 20px;
    }
}
.main-table {
    width: 1500px;
    overflow: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
a:link, a:visited {
    background-color: #000000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
    background-color: #808080;
}
