<div class="container">
  <div class="navbar">
    <h1>Complex Table - With Pagination</h1>
    <a class="link" routerLink="/without-pagination" routerLinkActive="active">go to Simple table</a>
  </div>
  <div class="main-table">
    <table>
      <thead>
        <tr>
          <th *ngFor="let key of objectKeys(displayData[0])">{{key}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of displayData">
          <td *ngFor="let value of objectValues(record)">{{value}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="30">
            <label>Records per page: </label>
            <select name="" id="" [(ngModel)]="recordsPerPage" (change)="paginate()">
              <option [value]="10">10</option>
              <option [value]="20">20</option>
              <option [value]="50">50</option>
              <option [value]="tableData.length">All</option>
            </select>

            <label>Page number: </label>
            <select name="" id="" [(ngModel)]="pageNum" (change)="paginate()">
              <option [value]="i+1" *ngFor="let num of pageNumbers; let i = index">{{i+1}}</option>
            </select>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>