table{
    border-collapse: collapse;
}
table, th, td {
    border:1px solid #E6E6FA;
    padding: 5px;
}
th, td {
    min-width: 150px;
    text-align: left;
}
.main-table {
    width: 1500px;
    overflow: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
a:link, a:visited {
    background-color: #000000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
    background-color: #808080;
}