<div class="container">
  <div class="navbar">
    <h1>Simple Table - Without Pagination</h1>
    <a class="link" routerLink="/with-pagination" routerLinkActive="active">go to Complex table</a>
  </div>
  <div class="main-table">
    <table>
      <thead>
        <tr>
          <th *ngFor="let key of objectKeys(tableData[0])">{{key}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of tableData">
          <td *ngFor="let value of objectValues(record)">{{value}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>